name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test:
    name: Test parser
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Set up tree-sitter
        uses: tree-sitter/setup-action@v2
        with:
          install-lib: false

      - name: Run tests
        uses: tree-sitter/parser-test-action@v2

      - name: Clone nvim-treesitter runtime corpus
        uses: actions/checkout@v4
        with:
          repository: nvim-treesitter/nvim-treesitter
          ref: main
          path: .tests/nvim-treesitter
          sparse-checkout: runtime/queries

      - name: Parse corpus
        uses: tree-sitter/parse-action@v4
        with:
          files: .tests/nvim-treesitter/runtime/queries/*/*.scm
